*.iml
.gradle
local.properties
release.properties
.idea
.idea/workspace.xml
.idea/libraries

.DS_Store

classes
obj
tmp

build
captures
.externalNativeBuild

.classpath
.project
.settings
eclipsebin

bin
gen
build
out